.switch {
  width: "280px";
  height: "280px";
  background: radial-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15) 42%,
    rgba(255, 255, 255, 0.1) 46%,
    rgba(255, 255, 255, 0.1) 56%,
    rgba(255, 255, 255, 0.05) 60%,
    rgba(255, 255, 255, 0) 65%
  );
  z-index: 10;
}
